<footer class="footer section">
    <div class="container">
        <div class="section__header">
            <a class="logo h1" href="{{ url_for('home') }}">Cologni<wbr>fornia</a>
        </div>

        <div class="footer__bottom-bar">
            <p class="copyright">
                <small>Copyright &copy; {{ "now"|date('Y') }} <a href="{{ url_for('home') }}">Colognifornia</a>. All rights reserved.</small>
            </p>

            <nav class="legal-nav">
                <ul>
                    <li>
                        <a href="{{ url_for('legal-notice') }}">Legal Notice</a>
                    </li>
                    <li>
                        <a href="{{ url_for('privacy-policy') }}">Privacy Policy</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
