{% extends 'templates/_default.twig' %} {% block title %}{{
    __("legal.legal-notice.title")
}}{% endblock %} {% block description %}{{
    __("legal.legal-notice.description")
}}{% endblock %} {% block content %}
<section class="section hero-section">
    <div class="container">
        {% include 'partials/_header.twig' %}

        <div class="card section__content">
            <h1 class="h2 card__heading">
                {{ __("legal.legal-notice.title") }}
            </h1>

            <p class="card__text">{{ __("legal.legal-notice.description") }}</p>
        </div>

        {% include 'partials/_scroll-down.twig' %}
    </div>
</section>

<section class="section page-content-section">
    <div class="container">
        <div class="card card--full-width content-flow">
            {{ get_markdown_content('legal/legal-notice') | markdown_to_html }}
        </div>
    </div>
</section>
{% endblock %}
