{% extends 'templates/_default.twig' %}

{% block title %}{{ __('legal.privacy-policy.title') }}{% endblock %}
{% block description %}{{ __('legal.privacy-policy.description') }}{% endblock %}

{% block content %}
    <section class="section hero-section">
        <div class="container">
            {% include 'partials/_header.twig' %}

            <div class="card section__content card--large">
                <h1 class="h2 card__heading">{{ __('legal.privacy-policy.title') }}</h1>

                <p class="card__text">
                    {{ __('legal.privacy-policy.description') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.intro.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.intro.contact', {
                        '%email%': '<a href="mailto:privacy@colognifornia.com">privacy@colognifornia.com</a>'
                    })|raw }}
                </p>
            </div>

            {% include 'partials/_scroll-down.twig' %}
        </div>
    </section>

    <section class="section page-content-section">
        <div class="container">
            <div class="card card--full-width content-flow">
                {{ get_markdown_content('legal/privacy-policy') | markdown_to_html }}
            </div>
        </div>
    </section>
{% endblock %}
