{% extends 'templates/_default.twig' %}

{% block title %}{{ __('legal.privacy-policy.title') }}{% endblock %}
{% block description %}{{ __('legal.privacy-policy.description') }}{% endblock %}

{% block content %}
    <section class="section hero-section">
        <div class="container">
            {% include 'partials/_header.twig' %}

            <div class="card section__content">
                <h2 class="h2 card__heading">{{ __('legal.privacy-policy.title') }}</h2>

                <p class="card__text">
                    {{ __('legal.privacy-policy.description') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.intro.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.intro.contact', {
                        '%email%': '<a href="mailto:privacy@colognifornia.com">privacy@colognifornia.com</a>'
                    })|raw }}
                </p>
            </div>

            {% include 'partials/_scroll-down.twig' %}
        </div>
    </section>

    <section class="section page-content-section">
        <div class="container">
            <div class="card card--full-width">
                <h3 class="h3 card__heading">{{ __('legal.privacy-policy.overview.heading') }}</h3>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.general.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.general.text') }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.data-recording.heading') }}</h4>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.responsible.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.responsible.text', {
                        '%link%': '<a href="' ~ url_for('legal-notice') ~ '">' ~ __('legal.legal-notice.title') ~ '</a>'
                    })|raw }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.data-recording-how.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.data-recording-how.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.data-recording-how.text.1') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.purpose.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.purpose.text.0') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.rights.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.rights.text.0', {
                        '%link%': '<a href="' ~ url_for('legal-notice') ~ '">' ~ __('legal.legal-notice.title') ~ '</a>'
                    })|raw }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.rights.text.1') }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.analysis.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.analysis.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.analysis.text.1') }}
                </p>

                <h3 class="h3 card__heading">{{ __('legal.privacy-policy.providers.heading') }}</h3>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.hosting.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting.text.2') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.hosting.processing-contract.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting.processing-contract.text.0') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.hosting.privacy-shield.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting.privacy-shield.text.0', {
                        '%link%': '<a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI" target="_blank" rel="noopener">' ~ __('legal.privacy-policy.hosting.privacy-shield.heading') ~ '</a>'
                    })|raw }}
                </p>

                <blockquote class="card__text blockquote" cite="https://www.privacyshield.gov">
                    <p>
                        {{ __('legal.privacy-policy.hosting.privacy-shield.quote.content') }}
                    </p>
                    <cite class="blockquote__source">&horbar; <a href="https://www.privacyshield.gov" target="_blank" rel="noopener">www.privacyshield.gov</a></cite>
                </blockquote>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.hosting.model-contract.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting.model-contract.text.0') }}<br>
                    {{ __('legal.privacy-policy.hosting.model-contract.text.1') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.hosting.transparency.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting.transparency.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting.transparency.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting.transparency.text.2') }}<br>
                    {{ __('legal.privacy-policy.hosting.transparency.text.3') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting.transparency.text.4') }}<br>
                    <a href="https://cloud.google.com/terms/data-processing-terms" target="_blank" rel="noopener">https://cloud.google.com/terms/data-processing-terms</a>.
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting.transparency.text.5') }}<br>
                    {{ __('legal.privacy-policy.hosting.transparency.text.6') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting.transparency.text.7') }}<br>
                    <a href="https://cloud.google.com/terms/eu-model-contract-clause" target="_blank" rel="noopener">https://cloud.google.com/terms/eu-model-contract-clause</a>.
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.hosting-dc.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting-dc.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting-dc.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting-dc.text.2') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.hosting-dc.processing-contract.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting-dc.processing-contract.text.0') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.hosting-dc.transparency.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting-dc.transparency.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting-dc.transparency.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.hosting-dc.transparency.text.2') }}<br>
                    {{ __('legal.privacy-policy.hosting-dc.transparency.text.3') }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.communication.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.communication.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.communication.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.communication.text.2') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.communication.processing-contract.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.communication.processing-contract.text.0') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.communication.privacy-shield.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.communication.privacy-shield.text.0', {
                        '%link%': '<a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI" target="_blank" rel="noopener">' ~ __('legal.privacy-policy.communication.privacy-shield.heading') ~ '</a>'
                    })|raw }}
                </p>

                <blockquote class="card__text blockquote" cite="https://www.privacyshield.gov">
                    <p>
                        {{ __('legal.privacy-policy.communication.privacy-shield.quote.content') }}
                    </p>
                    <cite class="blockquote__source">&horbar; <a href="https://www.privacyshield.gov" target="_blank" rel="noopener">www.privacyshield.gov</a></cite>
                </blockquote>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.communication.model-contract.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.communication.model-contract.text.0') }}<br>
                    {{ __('legal.privacy-policy.communication.model-contract.text.1') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.communication.transparency.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.communication.transparency.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.communication.transparency.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.communication.transparency.text.2') }}<br>
                    {{ __('legal.privacy-policy.communication.transparency.text.3') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.communication.transparency.text.4') }}<br>
                    <a href="https://admin.google.com/terms/apps/5/1/en/dpa_terms.html" target="_blank" rel="noopener">https://admin.google.com/terms/<wbr>apps/5/1/en/dpa_terms.html</a>.
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.communication.transparency.text.5') }}<br>
                    {{ __('legal.privacy-policy.communication.transparency.text.6') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.communication.transparency.text.7') }}<br>
                    <a href="https://admin.google.com/terms/apps/1/6/en/mcc_terms.html" target="_blank" rel="noopener">https://admin.google.com/terms/<wbr>apps/1/6/en/mcc_terms.html</a>.
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.external-data-processing.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.external-data-processing.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.external-data-processing.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.external-data-processing.text.2') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.external-data-processing.processing-contract.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.external-data-processing.processing-contract.text.0') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.external-data-processing.transparency.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.external-data-processing.transparency.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.external-data-processing.transparency.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.external-data-processing.transparency.text.2') }}<br>
                    {{ __('legal.privacy-policy.external-data-processing.transparency.text.3') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.external-data-processing.transparency.text.4') }}<br>
                    <a href="https://www.lexoffice.de/wp-content/uploads/20191218_Auftragsverarbeitung_lexoffice.pdf" target="_blank" rel="noopener">https://www.lexoffice.de/wp-content/uploads/20191218_Auftragsverarbeitung_lexoffice.pdf</a>
                </p>

                <h3 class="h3 card__heading">{{ __('legal.privacy-policy.information.heading') }}</h3>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.data-protection.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.data-protection.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.data-protection.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.data-protection.text.2') }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.controller.heading') }}</h4>

                <p class="card__text">{{ __('legal.privacy-policy.controller.text.0') }}</p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.controller.address.0') }}<br>
                    {{ __('legal.privacy-policy.controller.address.1') }}<br>
                    {{ __('legal.privacy-policy.controller.address.2') }}<br>
                    {{ __('legal.privacy-policy.controller.address.3') }}<br>
                    {{ __('legal.privacy-policy.controller.address.4') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.controller.contact.phone') }} <a href="tel:+4915738408326">+49 (0) 1573 84 08 326</a><br>
                    {{ __('legal.privacy-policy.controller.contact.email') }} <a href="mailto:privacy@colognifornia.com">privacy@colognifornia.com</a>
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.controller.text.1') }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.consent-revocation.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.consent-revocation.text.0') }}
                </p>

                <h4 class="h4 card__heading text-highlighted">{{ __('legal.privacy-policy.right-object-special.heading') }}</h4>

                <p class="card__text text-highlighted"><strong>
                    {{ __('legal.privacy-policy.right-object-special.text.0') }}
                </strong></p>

                <p class="card__text text-highlighted"><strong>
                    {{ __('legal.privacy-policy.right-object-special.text.1') }}
                </strong></p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.right-complaint.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.right-complaint.text.0') }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.data-portability.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.data-portability.text.0') }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.encryption.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.encryption.text.0') }}
                </p>

                <p class="card__text">{{ __('legal.privacy-policy.encryption.text.1') }}</p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.data-information.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.data-information.text.0', {
                        '%link%': '<a href="' ~ url_for('legal-notice') ~ '">' ~ __('legal.legal-notice.title') ~ '</a>'
                    })|raw }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.processing-restrictions.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.processing-restrictions.text.0', {
                        '%link%': '<a href="' ~ url_for('legal-notice') ~ '">' ~ __('legal.legal-notice.title') ~ '</a>'
                    })|raw }}
                </p>

                <ul class="card__list">
                    <li>
                        {{ __('legal.privacy-policy.processing-restrictions.text.1') }}
                    </li>
                    <li>
                        {{ __('legal.privacy-policy.processing-restrictions.text.2') }}
                    </li>
                    <li>
                        {{ __('legal.privacy-policy.processing-restrictions.text.3') }}
                    </li>
                    <li>
                        {{ __('legal.privacy-policy.processing-restrictions.text.4') }}
                    </li>
                </ul>

                <p class="card__text">
                    {{ __('legal.privacy-policy.processing-restrictions.text.5') }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.spam-mails.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.spam-mails.text.0', {
                        '%link%': '<a href="' ~ url_for('legal-notice') ~ '">' ~ __('legal.legal-notice.title') ~ '</a>'
                    })|raw }}
                </p>

                <h3 class="h3 card__heading">{{ __('legal.privacy-policy.data-recording-section.heading') }}</h3>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.cookies.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.cookies.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.cookies.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.cookies.text.2') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.cookies.text.3') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.cookies.text.4') }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.log-files.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.log-files.text.0') }}
                </p>

                <ul class="card__list">
                    <li>{{ __('legal.privacy-policy.log-files.list.0') }}</li>
                    <li>{{ __('legal.privacy-policy.log-files.list.1') }}</li>
                    <li>{{ __('legal.privacy-policy.log-files.list.2') }}</li>
                    <li>{{ __('legal.privacy-policy.log-files.list.3') }}</li>
                    <li>{{ __('legal.privacy-policy.log-files.list.4') }}</li>
                    <li>{{ __('legal.privacy-policy.log-files.list.5') }}</li>
                </ul>

                <p class="card__text">
                    {{ __('legal.privacy-policy.log-files.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.log-files.text.2') }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.contact-form.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.contact-form.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.contact-form.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.contact-form.text.2') }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.request.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.request.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.request.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.request.text.2') }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.registration.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.registration.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.registration.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.registration.text.2') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.registration.text.3') }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.contributions.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.contributions.text.0') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.contributions.ip-address.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.contributions.ip-address.text.0') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.contributions.subscriptions.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.contributions.subscriptions.text.0') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.contributions.storage-duration.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.contributions.storage-duration.text.0') }}
                </p>

                <h5 class="h5 card__heading">{{ __('legal.privacy-policy.contributions.legal-basis.heading') }}</h5>

                <p class="card__text">
                    {{ __('legal.privacy-policy.contributions.legal-basis.text.0') }}
                </p>

                <h3 class="h3 card__heading">{{ __('legal.privacy-policy.e-commerce-section.heading') }}</h3>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.customer-data.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.customer-data.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.customer-data.text.1') }}
                </p>

                <h4 class="h4 card__heading">{{ __('legal.privacy-policy.contract-data.heading') }}</h4>

                <p class="card__text">
                    {{ __('legal.privacy-policy.contract-data.text.0') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.contract-data.text.1') }}
                </p>

                <p class="card__text">
                    {{ __('legal.privacy-policy.contract-data.text.2') }}
                </p>

                <p>
                    <small>
                        {{ __('legal.privacy-policy.source', {
                            '%source%': '<a href="https://e-recht24.de" target="_blank" rel="noopener">e-recht24.de</a>'
                        })|raw }}
                    </small>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
